.tags
config/ranger/colorschemes/__pycache__/
emacs.d/ac-comphist.dat
emacs.d/auto-save-list/
emacs.d/elpa/
emacs.d/ido.last
emacs.d/projectile-bookmarks.eld
emacs.d/undohist/
mpd/mpdstate
newsboat/cache.db
newsboat/history.cmdline
newsboat/history.search
tmux.d/digests
vim/.netrwhist
vim/lastupdate
vim/pack/
vim/spell/
vim/swaps/
vim/undo/
