bin/mkcolor
bin/remind
config/autostart/
config/emacs/ac-comphist.dat
config/emacs/auto-save-list/
/config/emacs/backups/
config/emacs/.cache/
config/emacs/custom.el
config/emacs/eln-cache/
config/emacs/elpa/
config/emacs/#ido.last#
config/emacs/ido.last
config/emacs/lsp-cache/
config/emacs/.lsp-session-v1
config/emacs/projectile-bookmarks.eld
config/emacs/projectile.cache
config/emacs/transient/
config/emacs/undohist/
/config/emacs/var/
config/emacs/vimish-fold/
config/getmail/gmail
config/getmail/oldmail*
/config/mutt/aliases
config/ranger/bookmarks
config/ranger/colorschemes/default.pyo
config/ranger/colorschemes/__init__.pyo
config/ranger/colorschemes/__pycache__/
config/ranger/history
config/systemd/user/default.target.wants/
config/systemd/user/timers.target.wants/
config/tmux.d/digests
config/tmux.d/tmux-urlview/
config/vifm/vifminfo
config/wmcmd
config/zsh/.chpwd-recent-dirs
config/zsh/history/
config/zsh/plugins/
config/zsh/plugins/.updatetime
config/zsh/.zcompdump
config/zsh/.zcompdump.zwc
config/zsh/.zhistory
config/zsh/.zlogin
config/zsh/.zlogout
config/zsh/.zprofile
config/zsh/.zshrc
.etags
mpd/mpdstate
newsboat/cache.db
newsboat/history.cmdline
newsboat/history.search
# nixos/flake.lock
screenlayout/i3.sh
.tags
vim/backup/
vim/.lastupdate
vim/lastupdate
vim/.netrwhist
/vim/nvim_undo/
vim/pack/
vim/spell/
vim/swaps/
vim/undo/
vim/viminfo
vim/viminfo.tmp
vim/viminf*.tmp
xmonad/build-x86_64-linux/
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad-x86_64-linux
*.zwc
