[Unit]
Description=Trying things

[Service]
ExecStart=/home/jonathan/.nix-profile/bin/notify-send 'Download completed'

[Install]
WantedBy=default.target
