[Unit]
Description=Trying things

[Service]
ExecStart=/etc/profiles/per-user/jonathan/bin/notify-send 'Download completed'
[Install]
WantedBy=default.target
