[Unit]
Description=Mailbox synchronization service

[Service]
Environment="PATH=/run/current-system/sw/bin/:/usr/bin/find"
Type=oneshot
ExecStart=find /home/jonathan -name '-F' -delete
