[Unit]
Description=Mailbox synchronization service

[Service]
Environment="PATH=/run/current-system/sw/bin/:/etc/profiles/per-user/jonathan/bin/:/home/jonathan/.nix-profile/bin/:/usr/bin/"
Type=oneshot
ExecStart=mbsync -Va
